:3030 {
    basicauth {
        {env.TULIP_AUTH_USERNAME} {env.TULIP_AUTH_PASSWORD_HASH}
    }

    root * /app/public

    handle_path /api/* {
        reverse_proxy api:5000
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
